<footer id="footer" class="footer-hbs">
    <div class="footer-adj">
        <div class="footer-logo">
            <img src="images/logo.png" alt="">
        </div>
        <div class="footer-grp-rt">
            <div class="contact-message">
                <p>5004 Lewis Road, Agoura Hills, CA 91301</p>
                <p>(818) 991-5439 Office &nbsp; &nbsp;(818) 991-4402 Fax</p>
                <p><a href="http://www.cornerstonepreschool.org" target="_blank">www.cornerstonepreschool.org</a>
                </p>
            </div>
            <div class="social-icon ">
                <a href="http://facebook.com" target="_blank" class="fa fa-facebook"></a>
                <a href="http://twitter.com" target="_blank" class="fa fa-twitter"></a>
                <a href="http://instagram.com" target="_blank" class="fa fa-instagram"></a>
            </div>
        </div>
    </div>
    <p class="copyright">&copy; Copyright 2020, All Rights Reserved by Cornerstone Preschool.</p>
</footer>