<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<div class="content-main">
    <div id="navi" class="container">
        <div class="logo-navi col-sm-2 col-md-2">
            <a href="index.html" class="logo"><img src="images/logo.png" alt="logo" /></a>
        </div>

        <div id="horizontal" class="">
            <ul>
                <li class="nav_home active"><a href="index.html">Home</a></li>
                <li class="nav_about"><a href="about.html">About Us</a></li>
                <li class="nav_campus"><a href="campus.html">Our Campus</a> </li>
                <li class="nav_program"><a href="program.html">Programs</a> </li>
                <li class="nav_enrich"><a href="enrichment.html">Enrichment Programs</a> </li>
                <li class="nav_parent"><a href="parent.html">Parent Involvement</a> </li>
                <li class="nav_contact"><a href="#home-contact">Contact</a></li>
            </ul>
        </div>

        <nav class="hamburger">
            <div class="nav-mobile">
                <a id="nav-toggle" class="btn-open">
                    <span class=""></span>
                </a>
            </div>
            <div class="overlay">
                <ul id="nav-overlay" class="overlay-list">
                    <li><a href="stage/index.html">Home</a></li>
                    <li><a href="stage/about.html">About Us</a></li>
                    <li><a href="stage/campus.html">Our Campus</a></li>
                    <li><a href="stage/program.html">Programs</a></li>
                    <li><a href="stage/enrichment.html">Enrichment Programs</a></li>
                    <li><a href="stage/parent.html">Parent Involvement</a></li>
                    <li><a href="stage/index.html#home-contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>

</div>