<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<div class="content-main">
    <div id="navi" class="container">
        <div class="logo-nav">
            <a href="index" class="logo"><img src="images/logo.png" alt="logo" /></a>
        </div>

        <div id="horizontal">
            <a class="navhome active" href="index">Home</a>
            <a class="navabout" href=" about">About Us</a>
            <a class="navcampus" href="campus">Our Campus</a>
            <a id="boomButton" class="navprograms" href="programs">Programs</a>
            <a class="navenrich" href="enrichment">Enrichment Programs</a>
            <a class="navparent " href="parent">Parent Involvement</a>
            <a class="navcontact " href="#home-contact">Contact</a>
        </div>

        <nav class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <ul class="ham">
                    <li class="ham1"><a href="index">Home</a></li>
                    <li class="ham2"><a href="about">About Us</a></li>
                    <li class="ham3"><a href="campus">Our Campus</a></li>
                    <li class="ham4"><a href="programs">Programs</a></li>
                    <li class="ham5"><a href="enrichment">Enrichment Programs</a></li>
                    <li class="ham6"><a href="parent">Parent Involvement</a></li>
                    <li class="ham7"><a href="index#home-contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>

</div>
<script type="text/javascript">
    $("#boomButton").on("click", function () {
        $("a").addClass("active")
    });

</script>