<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<div class="content-main">
    <div id="navi" class="container">
        <div class="logo-nav">
            <a href="index.html" class="logo"><img src="images/logo.png" alt="logo" /></a>
        </div>

        <div id="horizontal">
            <ul>
                <li class="nav_home active"><a href="index.html">Home</a></li>
                <li class="nav_about"><a href="about.html">About Us</a></li>
                <li class="nav_campus"><a href="campus.html">Our Campus</a> </li>
                <li class="nav_program"><a href="program.html">Programs</a> </li>
                <li class="nav_enrich"><a href="enrichment.html">Enrichment Programs</a> </li>
                <li class="nav_parent"><a href="parent.html">Parent Involvement</a> </li>
                <li class="nav_contact"><a href="#home-contact">Contact</a></li>
            </ul>
        </div>

        <nav class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <ul class="ham">
                    <li class="ham1"><a href="stage/index.html">Home</a></li>
                    <li class="ham2"><a href="stage/about.html">About Us</a></li>
                    <li class="ham3"><a href="stage/campus.html">Our Campus</a></li>
                    <li class="ham4"><a href="stage/program.html">Programs</a></li>
                    <li class="ham5"><a href="stage/enrichment.html">Enrichment Programs</a></li>
                    <li class="ham6"><a href="stage/parent.html">Parent Involvement</a></li>
                    <li class="ham7"><a href="stage/index.html#home-contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>

</div>