<section id="home-about">
    <div class="section-content col-md-9 col-sm-10">
        <header class="section-header title-about">
            <h1 class="">About Us</h1>
        </header>

        <h2 class="home-history">Brief History</h2>
        <p>
            A dedicated Early Childhood Education Teacher since the age of 19 (at the former Meadow Oaks
            School in Calabasas) Melisa Giuffrida sought to establish a similar school experience by
            starting Cornerstone Preschool for her own children. Melisa has her Bachelor’s Degree in
            Psychology from California Lutheran University and her Early Childhood and Administration
            Credential. Founded on the desire to provide a nurturing yet appropriate balance of
            developmental and academic educational philosophies, Cornerstone Preschool was established in
            2005.</p>

        <p><a class="learn-more about" href="about.html"><span>learn more</span></a></p>
    </div>

    <div class="home-img-about col-lg-9 col-md-9 col-sm-10">
        <img src="images/home_about.jpg" alt="">
    </div>
</section>