<div id="about" class="content_main ">
    <div class="col-md-10 col-sm-10 col-xs-12">
        <section>
            <div class="subpage_title">
                <header class="section-header title-about">
                    <h1 class="">About Us</h1>
                </header>
            </div>
        </section>

        <section>
            <div class="sect-content">
                <h1 class="">Brief History</h1>
                <p>A dedicated Early Childhood Education Teacher since the age of 19 (at the former Meadow Oaks School
                    in Calabasas) Melisa Giuffrida sought to establish a similar school experience by starting
                    Cornerstone Preschool for her own children. Melisa has her Bachelor’s Degree in Psychology from
                    California Lutheran University and her Early Childhood and Administration Credential. Founded on the
                    desire to provide a nurturing yet appropriate balance of developmental and academic educational
                    philosophies, Cornerstone Preschool was established in 2005.</p>
            </div>
            <div class="home-img">
                <img src="images/about_history.jpg" alt="">
            </div>
        </section>

        <section>
            <div class="sect-content">
                <h1 class="">Overview</h1>

                <p>Cornerstone Preschool serves children from 2-6 years of age. Each program fosters students’ social,
                    emotional, cognitive, physical and academic growth in addition to providing an embedded curriculum
                    that nurtures and facilitates each child’s independent capabilities and learning styles. Our school
                    is a year round school starting in September and culminating in August.</p>
            </div>

            <div class="home-img">
                <img src="images/about_overview.jpg" alt="">
            </div>
        </section>

        <section>
            <div class="sect-content">
                <h1 class="">Staff</h1>
                <p>Our school consists of four exceptional and experienced lead classroom teachers and four classroom
                    assistants. Each staff member of our team is an integral part of the daily lessons and care provided
                    to all students. Cornerstone Staff are fingerprinted and have a background clearance check through
                    the Department of Justice and FBI. All staff are certified in CPR, First Aid, Health and Safety,
                    Epi-Pen Injections, and prepared for natural disasters should one occur.</p>
            </div>

            <div class="home-img">
                <img src="images/about_staff.jpg" alt="">
            </div>
        </section>

        <section>
            <div class="sect-content">
                <h1 class="">Programs</h1>
                <p>We are open Monday-Friday from 7:30 AM until 5:30 PM. All programs are available for Half-Day
                    Enrollment or Extended Day Enrollment. A minimum of a two-day enrollment is required for all
                    programs.</p>
            </div>

            <div class="home-img">
                <img src="images/about_program.jpg" alt="">
            </div>
        </section>

        <section>
            <div class="sect-content">
                <h1 class="">Visit Our School</h1>
                <p>Appointments are required in order to visit our Campus. This way we can give you the attention that
                    you deserve and be available for our students when needed. Tours usually take approximately 45
                    minutes and we ask that you bring your child along. Please call the school office to set an
                    appointment date and time. Office: (818) 991-5439</p>
            </div>

            <div class="home-img">
                <img src="images/about_visit.jpg" alt="">
            </div>
        </section>
    </div>
</div>
{{>footer}}