{{>header}}
<div id="home_home" class="content_main">
  <section id="home-about">
    <div class="section-content col-md-9 col-sm-10">
      <h1 class="section-header title-about">About Us</h1>
      <h2 class="home-history">Brief History</h2>
      <p>
        A dedicated Early Childhood Education Teacher since the age of 19 (at the former Meadow Oaks
        School in Calabasas) Melisa Giuffrida sought to establish a similar school experience by
        starting Cornerstone Preschool for her own children. Melisa has her Bachelor’s Degree in
        Psychology from California Lutheran University and her Early Childhood and Administration
        Credential. Founded on the desire to provide a nurturing yet appropriate balance of
        developmental and academic educational philosophies, Cornerstone Preschool was established in
        2005.</p>

      <a class="learn-more about" href="about.html"><span>learn more</span></a>
    </div>

    <div class="home-img-about col-md-9 col-sm-10">
      <img src="images/home_about.jpg" alt="">
    </div>
  </section>

  <section id="home-campus" class="">
    <div class="section-content col-md-9 col-sm-10">
      <header class="section-header title-campus">
        <h1 class="">Our Campus</h1>
      </header>
      <p>
        Our school is located in beautiful Agoura Hills just off the 101 Freeway. We are easily
        accessible from communities near and far since we are right off the freeway between Kanan Rd.
        and Cheseboro Rd. Some of the communities we serve are Agoura Hills, Calabasas, Hidden Hills,
        Woodland Hills, West Hills, Tarzana, Malibu, Westlake Village, Oak Park, Thousand Oaks, Lake
        Sherwood, Simi Valley, Santa Rosa and North Ranch.</p>

      <a class="learn-more campus" href="campus.html"><span>learn more</span></a>
    </div>

    <div class="home-img-campus col-md-9 col-sm-10">
      <img src="images/home_campus.jpg" alt="">
    </div>
  </section>

  <section id="home-program" class="">
    <div class="section-content col-md-9 col-sm-10">
      <header class="section-header title-program">
        <h1 class="">Programs</h1>
      </header>
      <p>
        We offer different programs to prepare children for their learning needs towards future success.
        This is just a temp introductory text put in here. Please write up a better one. Thanks. We
        offer different programs to prepare children for their learning needs towards future success.
        This is just a temp introductory text put in here. Please write up a better one. Thanks. Program
        offered: <a class="offer" href="">Transitional Two’s Program ,</a> <a class="offer" href="">Nursery Program,</a>
        <a class="offer" href="">Preschool 1 Class,</a> <a class="offer" href="">Preschool 2 Class</a></p>

      <a class="learn-more program" href="program.html"><span>learn more</span></a>
    </div>

    <div class="home-img-program col-md-9 col-sm-10">
      <img src="images/home_program.jpg" alt="">
    </div>
  </section>

  <section id="home-enrichment" class="">
    <div class="section-content col-md-9 col-sm-10">
      <header class="section-header title-enrichment">
        <h1 class="">Enrichment Programs</h1>
      </header>
      <p>
        We offer different programs to prepare children for their learning needs towards future success.
        This is just a temp introductory text put in here. Please write up a better one. Enrichment
        program offered: <a class="offer" href="">School Library,</a> <a class="offer" href="">Character
          Education,</a> <a class="offer" href="">Kindermusik,</a> <a class="offer" href="">Yoga,
          Breath and Movement,</a><a class="offer" href=""> On Site School Assemblies</a></p>

      <a class="learn-more enrichment" href="enrichment.html"><span>learn more</span></a>
    </div>

    <div class="home-img-enrich col-md-9 col-sm-10">
      <img src="images/home_enrichment.jpg" alt="">
    </div>
  </section>

  <section id="home-parent" class="">
    <div class="section-content col-md-9 col-sm-10">
      <header class="section-header title-parent">
        <h1 class="">Parent Involvement</h1>
      </header>
      <p>
        We firmly believe that a strong home school connection is so very valuable and important for our
        families, students, and staff. We encourage parents to be pro-active in their child’s early
        childhood school experience. Each classroom is grateful to have one parent volunteer to be a
        Room Parent for the duration of the school year (September-August). Room Parents are a valuable
        source for teachers and can be a direct liaison to other families in the class. Room Parents
        work closely with the classroom teacher and primarily oversee the classroom website on
        Shutterfly. This communication between school and home keeps parents informed of specific
        classroom activities, volunteer opportunities, scheduled classroom festivities, and other
        important information that will be helpful to the students and class.</p>

      <a class="learn-more parent" href="parent.html"><span>learn more</span></a>
    </div>

    <div class="home-img-parent col-md-9 col-sm-10">
      <img src="images/home_parent.jpg" alt="">
    </div>
  </section>

  <section id="home-contact" class="">
    <div class="section-content box-contact col-md-9 col-sm-10">
      <header class="section-header title-contact ">
        <h1 class="">Contact Us</h1>
      </header>
      <h2 class="home-contact">Tours and Enrollment</h2>
      <p>
        Please contact us to schedule a tour of our campus and to learn more about our programs. Tours
        are conducted daily between 10:00 AM-12:00 PM. Please plan on spending at least 45 minutes with
        us. We encourage you to bring your child on the tour with you so that we may have the
        opportunity to meet him/her and most importantly your child will get a feel for our school. This
        is in fact where “they” will be learning and playing!</p>
    </div>

    <div class="home-img-contact col-md-9 col-sm-10">
      <img src="images/home_contact.jpg" alt="">
    </div>
  </section>
</div>
{{>footer}}