html {
	font-size: 62.5%;
	box-sizing: border-box;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.8rem;
	line-height: 2;
	color: #333;
	background-color: #fff;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
#home_home:after,
#about:after,
#campus:after,
#programs:after,
#enrichment:after,
#parent:after,
#home-contact:after{
    content:"";
    position:fixed; 
    top:0;
    height:100vh; 
    left:0;
    right:0;
    z-index:-1; 
}
#home_home:after{
	background: url(../images/bgnd_home.jpg) top center;
	background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#about:after{
	background: url(../images/bgnd_about.jpg) top center;
	background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#campus:after{
	background: url(../images/bgnd_campus.jpg) top center;
	background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#programs:after{
	background: url(../images/bgnd_programs.jpg) top center;
	background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#enrichment:after{
	background: url(../images/bgnd_enrichment.jpg) top center;
	background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#parent:after{
	background: url(../images/bgnd_parent.jpg) top center;
	background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#home-contact:after{
	background: url(../images/bgnd_home.jpg) top center;
	background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
header{
	overflow:auto;
}
.container{
	max-width:240rem;
}
a {
	color:#fff;
	text-decoration: none;
	outline: 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
a:hover,
a:visited:hover{
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
a.logo img {
    max-width: 200px;
}
/****** Typography ******/
h1, h2,h3, h4, h5, h6 {
	font-family: "Fredericka the Great";
	color: #333;
	line-height:110%;
	margin-top:0;	
}
h1 {
	font-size:5.5rem;
}
h2 {
	font-size:2.8rem;
}
h3 {
	font-size:1.2rem;
}
h4 {
	font-size:1rem;
}
h5 {
	font-size:.8rem;
}
h6 {
	font-size:.65rem;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
p {
	font-size: 1.8rem;
	line-height: 2;
	margin: 0 0 3.5rem 0;
}
p img {
	margin: 0;
}
p.lead {
	font-size: 3.1rem;
	line-height: 3.1rem;	
}
.title-about h1 { 
	color:#ce5dce;
	margin-top: 3rem;
}
.title-campus h1 {
	color:#337700;
	margin-top: 3rem;
}
.title-programs h1 { 
	color:#d86500;
	margin-top: 3rem;
}
.title-enrichment h1 { 
	color:#919603;
}
.title-parent h1{
	color:#00a5e8;
}
.title-contact h1{
	color:#b91d05;
	margin-top: 3rem;
}
.subpage_title h1 {
	margin-top: 1.3rem;
	margin-left: 3.2rem;
}
.section-header h1
 {
	font-size: 5.5rem;
}
.section-header.title-enrichment h1,
.section-header.title-parent h1
 {
	font-size: 5.5rem;
	padding-top: 4rem;
	width:88%;
}
#about .subpage_title h1,
#campus .subpage_title h1,
#programs .subpage_title h1,
#enrichment .subpage_title h1,
#parent .subpage_title h1   {
	font-size: 6rem;
}
#about .subpage_title h1 {
	color:#963696;
}
#campus .subpage_title h1 {
	color:#337700;
	width:70vw;
}
#programs .subpage_title h1 {
	color:#d86500;
}
#enrichment .subpage_title h1 {
	color:#919603;
}
#parent .subpage_title h1 {
	padding-top: 3rem;
	color:#018bc3;
	width:60vw;
}
#about h2,
#campus h2,
#programs h2 {
	font-size:4.5rem;
	margin-bottom: 4rem;
}
#about h2 {
	color:#ce5dce;
}
#campus h2 {
	color:#337700;
}
#programs h2 {
	color:#d86500;
}
#enrichment h2 {
	color:#919603;
}
#parent h2 {
	color:#00a5e8;
}
/*********** NAVI **********/
#navi{
	position: fixed;
	top: 0;
	right:0;
	width: 100%;
	z-index: 4;
	opacity:.95;
}
.logo-nav {
	position: fixed;
	top: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom:1rem;
    z-index:5;
    padding-left: 0;
	margin-left: 0;
}
#horizontal {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;  
}
#horizontal a {
	color:#fff;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#horizontal a {
	color:#fff;
	font-family: "Fredericka the Great";
	padding-left: .8rem;
	padding-right: .8rem;
	font-weight:600;
	font-size: 1.6rem;
}
a.navhome.active,
a.navabout.active,
a.navcampus.active,
a.navprograms.active,
a.navenrich.active,
a.navparent.active,
a.navcontact.active {
	background-color:#000438;
}
.disabled{
	pointer-events: none;
  }
a.navhome {
    background: #efd30c;
}
a.navhome:hover,
a.navhome:visited:hover{
	background: #ffc905;
}
a.navabout {
	background: #ce8bd0;
	}
a.navabout:hover,
a.navabout:visited:hover{
	background: #f05ff5;
}
a.navcampus {
	background: #337700;
}
a.navcampus:hover,
a.navcampus:visited:hover{
	background: #57b50f;
}	
a.navprograms {
	background: #d86401;
}
a.navprograms:hover,
a.navprograms:visited:hover{
	background: #f99b00;
}
a.navenrich {
	background: #c1c55e;
}
a.navenrich:hover,
a.navenrich:visited:hover{
	background: #dae104;
}
a.navparent {
	background: #0088bf;
}
a.navparent:hover,
a.navparent:visited:hover{
	background: #0db7fa;
}
a.navcontact {
	background: #d01f03;
}
a.navcontact:hover,
a.navcontact:visited:hover{
	background: #fa5900;
}
.content-main{
	max-width:240rem;
	margin: 0 auto;
}
/*-------hamburger--------*/
.nav-mobile {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background: transparent;
	height: 7rem;
	width: 7rem;
	z-index: 6;
}
#nav-toggle{
	position: absolute;
	left: 1.8rem;
	top: 1.1rem;
	cursor: pointer;
	padding: 1rem 35px 16px 0px;
}
#nav-toggle span, 
#nav-toggle span:before, 
#nav-toggle span:after {
	height: 4px;
	width: 3.5rem;
	background: #fff;
	position: absolute;
	border-radius: 1px;
	display: block;
	cursor: pointer;
	content: '';
	transition: all .4s ease-in-out;
	transform-origin: 0 0;
}
#nav-toggle span:before{
	top: -1.2rem;	
}
#nav-toggle span:after{
	bottom: -1.2rem;
}
#nav-toggle.active span{
	background:transparent;
	width:0;
}
#nav-toggle.active span:before{
	transform: rotate(45deg);
	transform-origin: 0% 0%;
}
#nav-toggle.active span:after{
	transform: rotate(-45deg);
	transform-origin: 0% 100%;
}
ul#nav-overlay {
	margin:0 auto;
	padding-top: 18vh;
	overflow-y: scroll;
	height: 100vh;
}
.overlay {
	margin-left: -1.5rem;
}
nav ul.overlay-list {
	background-color: rgba(0,0,0,.9);
	z-index:11;
	overflow:hidden;
	position:fixed;
	height: 0;
	width: 100%;
	height:100%;
}
ul.overlay-list {
	z-index: 10;
	padding-top:8rem;
	list-style: none;  
	z-index:11;     
}
ul.overlay-list li {
display:block;
}
ul.overlay-list li a{
	font-family: "Fredericka the Great";
	font-size: 5rem;
	line-height:7rem;
	display: block;
	text-align: center;
	color: #fff;
	margin-top: 1px;
	margin-bottom:.8rem !important; 
	border-bottom: 1px solid rgba(255,255,255,0);
}  
ul.overlay-list li a:hover, 
ul.overlay-list li a:active:hover{
	color:#fff;
	background: #aa5d04;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;	
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
} 
ul.active.overlay-list {
	margin-bottom: .8rem;
}
#nav-toggle{
	display:none;
}
#nav-overlay{
	display:none;
}
@media screen and (max-width: 992px) {
	#horizontal {
		display: none;
	}
	#nav-toggle{
		display:block;
		z-index: 3; 
	}
	.nav-mobile {
		display: block;
	}
	.hamburger{
		position: fixed;
	}
	#nav-overlay {
		left: 0;
		top: 0;
		height: 90%;
		width: 100%;
		position: fixed; 
		z-index: 5; 
		overflow-x: hidden; /* Disable horizontal scroll */
		} 
	} 
@media screen and (max-width: 56.8rem) {
	#nav-overlay {
		height: 70%;		
	}
	ul#nav-overlay{
		padding-top: 9remx;
		padding-left:0 !important;
	}
	ul.overlay-list li a{
		font-size: 4rem;
		line-height: 4rem;
	}
}
@media screen and (max-width: 42.5rem) {
	ul.overlay-list li a{
		font-size: 3.8rem;
		line-height: 4.2rem;
	}
}

/******** FOOTER *********/
.footer-logo {
    padding-top: 0;
    vertical-align:top;
    display:inline-block;
	text-align:center;
	opacity: .9;
}
.footer-logo:hover {
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;	
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.footer-adj{
	padding: 10rem 10% 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-logo img{
    max-width: 20rem;
    margin-bottom: 4rem;
}	   	
.contact-message {
	color:#fff;
    text-align: center;
    font-size:1.6rem;
    padding: 0 1.5rem;
}
.contact-message p{
	line-height: 1;
	font-size: 1.8rem;
	margin-bottom: 2rem;
}
.contact-message a{
	margin-top:3rem;
	color:#fff;
}
.social-icon{
    display: flex;
    justify-content: center;
    height: 10rem;
    margin-top:3rem;
}
.social-icon a {
font-size: 44px;
color: #fff;
opacity: .8;
line-height: normal;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;	
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
padding-left:1.5rem;
padding-right:1.5rem;
}
.social-icon a:hover {
	opacity: 1;
}
.footer-content{
	padding-top:12rem;
}
.copyright {
	margin:0;
	letter-spacing:1px;
	font-size:1.1rem;
	color:#fff;
	text-align: center;
	padding: 4rem 0 4rem;
}
.foot-hbs{
	background: transparent;
}
.footer-index{
	background: #efd30c;
}
.footer-about{
	background: #ce8bd0;
}
.footer-campus{
	background: #458a11;
}
.footer-programs{
	background: #f3882d;
}
.footer-enrichment{
	background: #b0bd56;
}
.footer-parent{
	background: #42bbea;
}
.footer-contact{
	background: #efd30c;
}

/*************** COMMON ****************/
.content_main{
	margin-bottom:30rem;
    max-width: 240rem;
    display: flex;
    justify-content: center;
}
.content_page{
	padding-bottom:30rem;
    max-width: 240rem;
    display: flex;
    justify-content: center;
}
.sect-content {
    background-color: #fff;
    opacity: .95;
    margin-left: auto;
    margin-right: auto;
    padding: 8rem 5%;
    border-radius: 1rem 1rem 0 0;
}
.subpage_title{
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: -8rem;
    border-radius:1rem;
    margin-top: 60vh;
	background-color:rgba(255,255,255,.5);
	padding-top:3rem;
	padding-bottom: 2.5rem;
}
/************* HOME PAGE ****************/
section {
    padding-top: 8rem;
}
section#home-about {
	padding-top: 70vh;
}
.section-header{ 
	width:100%;
	height: 14rem;
}
.title-about .icon_sec img{
	margin-top: -.8rem;
	margin-left:0px;
}
.title-campus .icon_sec img,
.title-programs .icon_sec img,
.title-parent .icon_sec img{
	margin-top:-1rem;
	margin-left:0px;
}
.title-enrichment .icon_sec img{
	margin-top:-1rem;
	margin-left:35px;
}
.title-about{
    background: url(../images/icon_about.png) no-repeat;
	background-position: center right;
	background-size: 100px;
}
.title-programs{
    background: url(../images/icon_programs.png) no-repeat;
	background-position: center right;
	background-size: 100px;
}
.title-campus{
    background: url(../images/icon_campus.png) no-repeat;
    background-position: center right;
	background-size: 100px;
}
.title-enrichment{
    background: url(../images/icon_enrichment.png) no-repeat;
	background-position: center right;
	background-size: 100px;
}
.title-parent{
    background: url(../images/icon_parent.png) no-repeat;
	background-position: center right;  
	background-size: 100px;  
}
.title-contact{
    background: url(../images/icon_contact.png) no-repeat;
	background-position: center right;
	background-size: 10rem;
}
.home-history{
	color:#000;
	margin: 1rem 0;
}
.home-contact{
	color:#000;
	font-weight:400;
}
a.learn-more {
	font-family: "Fredericka the Great";
	font-size:2rem;
    padding: .3rem 1.5rem .5rem;
    color:#fff;
	text-align: center;
	border-radius:.4rem;
	margin-bottom: 2rem;
}
.about{
	background:#bb7fbb;
}
.campus {
    background:#40880b;
}
.programs{
	background: #f39c12;
}
.enrichment{
	background:#c1c55e;
}
.parent{
	background:#0ab2f4;
}
.contact{
	background:#f95f00;
}
.about:hover,
.about:visited:hover,
.campus:hover,
.campus:visited:hover,
.programs:hover,
.programs:visited:hover,
.enrichment:hover,
.enrichment:visited:hover,
.parent:hover,
.parent:visited:hover
 {
	background:#53b3fd;
    transition: all ease .5s;
}
.section-content{
    background-color: #fff;
    opacity: .95;
    margin: 3rem auto 0;
    padding: 5rem 5%;
    border-radius:1rem 1rem 0 0;
}
.home-img {
	background-position: 0 0;
	margin: auto;
	padding-left:0;
	padding-right:0;
	padding-bottom: 6rem;
	border-radius:0 0 1rem 1rem;
	background-color: #fff;	
}
.border-about,
.border-campus,
.border-programs,
.border-enrichment,
.border-parent,
.border-contact {
	padding: 0 0 7rem;
	border-radius:0 0 1rem 1rem;
}
.border-about {
	background-color: #ce8bd0;	
}
.border-campus {
	background-color:#458a11;	
}
.border-programs {
	background-color:#f3882d;	
}
.border-enrichment {
	background-color:#b0bd56;	
}
.border-parent {
	background-color:#42bbea;	
}
.border-contact {
	background-color: #b91d05;	
}
/******** ABOUT PAGE *********/
#about{
    position: relative;
	background: url(../images/bgnd_about.jpg) top center;
	background-position: center center;
	background-size: cover;
	  -webkit-background-size: cover;
      -moz-background-size: cover;
	  -o-background-size: cover;
    background-attachment: fixed;
}
.title-about{
    background: url(../images/icon_about.png) no-repeat;
    background-position: 95% center;
}
/******** CAMPUS PAGE *********/
#campus{
    position: relative;
    background: url(../images/bgnd_campus.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.title-campus{
    background: url(../images/icon_campus.png) no-repeat;
    background-position: 95% center;
    height:130px;
}
/********** PROGRAMS PAGE ************/
#programs{
    position: relative;
    background: url(../images/bgnd_programs.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#trans_two{
    padding-top: 0;
}
.title-programs{
    background: url(../images/icon_programs.png) no-repeat;
    background-position: 95% center
}
/*********** ENRICHMENT PROGRAMS ************/
#enrichment.wrap{
    position: relative;
    z-index: 500;
    background: url(../images/bgnd_enrichment.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.title-enrichment{
    background: url(../images/icon_enrichment.png) no-repeat;
    background-position: 95% center
}
/*********** PARENT INVOLVEMENT *************/
#parent{
    position: relative;
    background: url(../images/bgnd_parent.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.title-parent{
    background: url(../images/icon_parent.png) no-repeat;
    background-position: 90% center;    
}
.title-contact{
    background: url(../images/icon_contact.png) no-repeat;
    background-position: 95% center
}

/******* RESPONSIVE ********/
@media screen and (max-width: 992px) {
	.section-header.title-enrichment h1,
	.section-header.title-parent h1{
		padding-top: 1rem;
		width:70%;
	}
	#about .subpage_title h1,
	#campus .subpage_title h1,
	#programs .subpage_title h1,
	#enrichment .subpage_title h1,
	#parent .subpage_title h1   {
	font-size: 5rem;
}
#about .subpage_title h1,
#campus .subpage_title h1,
#programs .subpage_title h1{
	padding-top: 2rem;
}
	}
@media screen and (max-width: 768px) {
	.section-header.title-enrichment h1,
	.section-header.title-parent h1{
		padding-top: 0rem;
	}
	#about h2,
	#campus h2,
	#programs h2,
	#enrichment h2,
	#parent h2 {
		font-size: 3.5rem;
	}
	#parent .subpage_title h1 {
		padding-top: 1rem;
	}
}
@media screen and (max-width: 667px) {
.subpage_title{
	margin-top: 60vh;
}
}
@media screen and (max-width: 640px) {
.section-header {
	height: 13rem;
}
.section-content {
	margin: 3rem auto 0;
	padding: 3rem 5%;
}
.sect-content {
	padding: 6rem 5%;
}
.section-header h1{
	font-size: 5rem;
	line-height: 5.5rem;
}
#enrichment .subpage_title h1 {
	display: block;
	font-size: 5rem;
	color: #919603;
	width: 60vw;
}
#about h2,
#campus h2,
#programs h2,
#enrichment h2,
#parent h2{
	margin-bottom: 2rem;
	line-height: 3.5rem;
}
.title-about,
.title-programs,
.title-campus,
.title-enrichment,
.title-parent,
.title-contact{
	background-size: 9rem;
}
.title-parent{
	background-size: 75px;
}
header.section-header.title-enrichment,
header.section-header.title-parent {
	margin-bottom: 3rem;
	margin-top: 2rem;
}
}
@media screen and (max-width: 480px) {
	p{
		font-size: 1.5rem;
		margin: 0 0 4rem 0;
	}
	.section-content{
		padding: 3rem 1.5rem;
	}
	.section-header h1,
	.section-header.title-enrichment h1,
	.section-header.title-parent h1
	{
		font-size: 3.3rem;
		line-height: 4.3rem;
		margin-left:5%;
		margin-right:5%;
	}
	.home-history {
		font-size: 2rem;
	}
}
@media screen and (max-width: 375px) {
.section-header {
	height: 10rem;
}
.sect-content {
	padding: 5rem 5%;
}
#about .subpage_title h1,
#campus .subpage_title h1,
#programs .subpage_title h1,
#enrichment .subpage_title h1,
#parent .subpage_title h1 {
	display: block;
	font-size: 4rem;
	margin-top: 0;
}
.section-header h1 {
	padding-top: 2.5rem;
}
.subpage_title h1 {
	margin-left: 1rem;
}
#about h2,
#campuse h2,
#programs h2,
#enrichment h2,
#parent h2 {
	font-size: 3rem;
}
}

	