html {
	font-size: 62.5%;
	box-sizing: border-box;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.8rem;
	line-height: 2;
	color: #333;
	background-color: #fff;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
#home_home:after,
#about:after,
#campus:after,
#program:after,
#enrichment:after,
#parent:after,
#home-contact:after{
    content:"";
    position:fixed; 
    top:0;
    height:100vh; 
    left:0;
    right:0;
    z-index:-1; 
}
#home_home:after{
	background: url(../images/bgnd_home.jpg) top center;
	background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#about:after{
	  background: url(../images/bgnd_about.jpg) top center;
	  background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#campus:after{
	  background: url(../images/bgnd_campus.jpg) top center;
	  background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#program:after{
	  background: url(../images/bgnd_program.jpg) top center;
	  background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#enrichment:after{
	  background: url(../images/bgnd_enrichment.jpg) top center;
	  background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#parent:after{
	  background: url(../images/bgnd_parent.jpg) top center;
	  background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
#home-contact:after{
	  background: url(../images/bgnd_home.jpg) top center;
	  background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}
header{
	overflow:auto;
}
.container{
	max-width:240rem;
}
hr {
	border: solid #DDDDDD;
	border-width: 1px 0 0;
	clear: both;
	margin: 2rem 0 4rem;
	height: 0;
}
a {
	color:#fff;
	text-decoration: none;
	outline: 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
a:hover,
a:visited:hover{
	text-decoration: none;
}
ul, ol {
	margin-bottom: 2rem;
}
ul {
	list-style: none outside;
}
ol {
	list-style: decimal;
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 3rem;
}
ul.square {
	list-style: square outside;
}
ul.circle {
	list-style: circle outside;
}
ul.disc {
	list-style: disc outside;
}
ul ul, ul ol, ol ol, ol ul {
	margin-left: 3rem;
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin-bottom: 0
}
img {
	max-width: 100%;
	height: auto;
}
a.logo img {
    max-width: 200px;
}
/****** Typography ******/
h1, h2,h3, h4, h5, h6 {
	font-family: "Fredericka the Great";
	color: #333;
	line-height:80%;
	margin-top:0;	
}
h1 {
	font-size:5.5rem;
	line-height: 5.5rem;
}
h2 {
	font-size:2.8rem;
	line-height: 4.8rem;
}
h3 {
	font-size:1.2rem;
}
h4 {
	font-size:1rem;
}
h5 {
	font-size:.8rem;
}
h6 {
	font-size:.65rem;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
p {
	font-size: 1.8rem;
	line-height: 2;
	margin: 0 0 6rem 0;
}
p img {
	margin: 0;
}
p.lead {
	font-size: 3.1rem;
	line-height: 3.1rem;	
}
em {
	font-style: italic;
}
strong {
	font-weight: 400;
}
small {
	font-size: 80%;
}
.hide{
	display:none;
}

/*********** NAVI **********/
#navi{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
	opacity:.95;
}
.logo-nav {
	position: fixed;
	top: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom:1rem;
    z-index:5;
    padding-left: 0;
    margin-left: 0;
}
#horizontal ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;  
}
#horizontal ul li {
	color:#fff;
	padding-left: .8rem;
	padding-right: .8rem;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#horizontal ul li a {
	color:#fff;
	font-family: "Fredericka the Great";
	font-weight:600;
}
li.nav_home.active,
li.nav_about.active,
li.nav_campus.active,
li.nav_program.active,
li.nav_enrich.active,
li.nav_parent.active,
li.nav_contact.active {
	padding-bottom:1rem;
}
li.nav_home {
    background: #efd30c;
}
li.nav_home:hover,
li.nav_home:visited:hover{
	background: #ffc905;
}
li.nav_about {
	background: #ce8bd0;
	}
li.nav_about:hover,
li.nav_about:visited:hover{
	background: #f05ff5;
}
li.nav_campus {
	background: #337700;
}
li.nav_campus:hover,
li.nav_campus:visited:hover{
	background: #57b50f;
}	
li.nav_program {
	background: #d86401;
}
li.nav_program:hover,
li.nav_program:visited:hover{
	background: #f99b00;
}
li.nav_enrich {
	background: #c1c55e;
}
li.nav_enrich:hover,
li.nav_enrich:visited:hover{
	background: #dae104;
}
li.nav_parent {
	background: #0088bf;
}
li.nav_parent:hover,
li.nav_parent:visited:hover{
	background: #0db7fa;
}
li.nav_contact {
	background: #d01f03;
}
li.nav_contact:hover,
li.nav_contact:visited:hover{
	background: #fa5900;
}
.content-main{
	max-width:240rem;
	margin: 0 auto;
}
/*-------hamburger--------*/
.menu-wrap{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	display:none;
}
.menu-wrap .toggler{
	position: absolute;
	top: 0;
	right: 0;
	width: 7rem;
	height: 7rem;
	z-index: 2;
	cursor: pointer;
	opacity: 0;
}
.menu-wrap .hamburger{
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	width: 4rem;
	height: 4rem;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;	
}
.menu-wrap .hamburger > div{
	position: relative;
	width: 100%;
	height: .4rem;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease .3s;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
	content: "";
	position: absolute;
	z-index:1;
	width: 100%;
	height: .4rem;
	top: -1rem;
	background-color:inherit;
}
.menu-wrap .hamburger > div:after{
	top: 1rem;
}
.menu-wrap .toggler:checked + .hamburger > div{
	transform: rotate(-45deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
	top:0;
	transform: rotate(90deg);
}
.menu-wrap .toggler:checked ~ .menu{
	height: 100vh
}
.menu-wrap .menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	display: flex;
	text-align: center;
	justify-content: center;
	background: rgba(0,0,0,.95);
	height: 0vh;
	transition: all ease .6s;
}
.menu-wrap .toggler:checked ~ .menu.ham{
	opacity: 1;
}
ul.ham{
	padding:10rem 2rem;
}
.ham li{
	font-family: "Fredericka the Great";
	font-size: 4rem;
	line-height: 6rem;
	opacity: 0;
}
@keyframes slideIn { 
	0% {opacity:0; transform: translateY(0px);}
	100% {opacity:1;transform: translateY(20px);}
}
.ham li{
	animation: slideIn .5s forwards;
}
.ham li:nth-child(2) {
	animation-delay: .95s;
}
.ham li:nth-child(3) {
	animation-delay:1.15s;
}
.ham li:nth-child(4) {
	animation-delay: 1.25s;
}
.ham li:nth-child(5) {
	animation-delay: 1.45s;
}
.ham li:nth-child(6) {
	animation-delay: 1.65s;
}
.ham li:nth-child(7) {
	animation-delay: 1.85s;
}

@media screen and (max-width: 992px) {
	#horizontal {
        display: none;
	}
	.menu-wrap{
		display:flex;
	}
}

/* .nav-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: transparent;
    height: 7rem;
    width: 7rem;
    z-index: 15;
}
#nav-toggle{
    position: absolute;
    left: 1.8rem;
    top: 1.1rem;
    cursor: pointer;
    padding: 1rem 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 3.5rem;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all .5s ease-in-out;
    transform-origin: 0 0;
}
#nav-toggle span:before{
    top: -1.2rem;
    
}
#nav-toggle span:after{
    bottom: -1.2rem;
}
#nav-toggle.active span{
    background:transparent;
    width:0;
}
#nav-toggle.active span:before{
    transform: rotate(45deg);
    transform-origin: 0% 0%;
}
#nav-toggle.active span:after{
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
}
ul#nav-overlay {
    margin:0 auto;
    padding-top: 18vh;
    overflow-y: scroll;
    height: 100vh;
}
.overlay {
    margin-left: -1.5rem;
}
nav ul.overlay-list {
    background-color: rgba(0,0,0,.9);
    z-index:11;
    overflow:hidden;
    position:fixed;
    height: 0;
    width: 100%;
    height:100%;
}
ul.overlay-list {
    z-index: 100;
    padding-top:8rem;
    list-style: none;  
    z-index:11;     
}
ul.overlay-list li {
display:block;
}
ul.overlay-list li a{
    font-family: "Fredericka the Great";
    font-size: 6rem;
    line-height:70px;
    display: block;
    text-align: center;
    color: #fff;
    margin-top: 1px;
    margin-bottom:.8rem !important; 
    border-bottom: 1px solid rgba(255,255,255,0);
}  
ul.overlay-list li a:hover, 
ul.overlay-list li a:active:hover{
    color:#fff;
    background: #aa5d04;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
} 

ul.active.overlay-list {
    margin-bottom: .8rem;
}
#nav-toggle{
    display:none;
}
#nav-overlay{
    display:none;
}

@media screen and (max-width: 992px) {
	#horizontal {
        display: none;
	}
	#nav-toggle{
		display:block;
		z-index: 3; 
	}
	.nav-mobile {
        display: block;
    }
	.hamburger{
		position: fixed;
        z-index: 40;
	}
	#nav-overlay {
		left: 0;
		top: 0;
		height: 90%;
		width: 100%;
		position: fixed; 
		z-index: 10; 
		overflow-x: hidden; /* Disable horizontal scroll */
	/* } */
/* } */ 
/* @media screen and (max-width: 56.8rem) {
	#nav-overlay {
		height: 70%;		
	}
	ul#nav-overlay{
		padding-top: 9remx;
	}
	ul.overlay-list li a{
		font-size: 4rem;
		line-height: 4rem;
	}
} */
/* @media screen and (max-width: 42.5rem) {
	ul.overlay-list li a{
		font-size: 3.2rem;
		line-height: 3.8rem;
	}
} */

/******** FOOTER *********/
.footer-logo {
    padding-top: 0;
    vertical-align:top;
    display:inline-block;
	text-align:center;
	padding-left:-1.5rem;
	padding-right:-1.5rem;
}
.footer-adj{
	padding: 10rem 10% 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-logo img{
    max-width: 20rem;
    margin-bottom: 4rem;
}	   	
.contact-message {
	color:#fff;
    text-align: center;
    font-size:1.6rem;
    padding: 0 1.5rem;
}
.contact-message p{
	line-height: 1;
	font-size: 1.8rem;
	margin-bottom: 2rem;
}
.contact-message a{
	margin-top:3rem;
	color:#fff;
}
.social-icon{
    display: flex;
    justify-content: center;
    height: 10rem;
    margin-top:3rem;
}
.social-icon a {
font-size: 44px;
color: #fff;
line-height: normal;
-webkit-transition: color .3s ease-in-out;
-moz-transition: color .3s ease-in-out;
-ms-transition: color .3s ease-in-out;
-o-transition: color .3s ease-in-out;
transition: color .3s ease-in-out;
padding-left:1.5rem;
padding-right:1.5rem;
}
.footer-content{
	padding-top:12rem;
}
.copyright {
	margin:0;
	letter-spacing:1px;
	font-size:1.1rem;
	color:#fff;
	text-align: center;
	padding: 4rem 0 4rem;
}


/*************** COMMON ****************/
.content_main{
	margin-bottom:30rem;
    max-width: 240rem;
    display: flex;
    justify-content: center;
}
.sect-content {
    background-color: #fff;
    opacity: .95;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 8rem 5rem;
    border-radius: 1rem 1rem 0 0;
}
.subpage_title{
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 0;
    border-radius:1rem;
    margin-top: 46rem;
	background-color:rgba(255,255,255,.8);
	padding-top:3rem;
	padding-bottom: 2.5rem;

}
.subpage-img {
	padding-top:3rem;
	padding-bottom:3rem;
}
.gold {
    background-color:#f3882d;
}
.pink {
    background-color:#e89bea;
}
.green{
	background:#458a11;
}
.olive{
	background:#b0bd56;
}
.aqua{
	background:#42bbea;	
}
.yellow{
	background:#efd30c;
}
/************* HOME PAGE ****************/
section {
    padding-top: 3rem;
}
section#home-about {
	padding-top: 60rem;
}
.section-header{ 
	width:100%;
	height: 15rem;
	margin-bottom: 1rem;
}
.title-about h1 { 
	color:#ce5dce;
	display:inline-block;
}
.title-campus h1 {
	color:#337700;
	display:inline-block;
}
.title-program h1 { 
	color:#d86500;
	display:inline-block;
}
.title-enrichment h1 { 
	color:#919603;
	display:inline-block;
}
.title-parent h1{
	color:#00a5e8;
	display:inline-block;
	margin-right: 2rem;
}
.title-contact h1{
	color:#b91d05;
	display:inline-block;
	margin-right: 2rem;
}
.title-about .icon_sec img{
	margin-top: -.8rem;
	margin-left:0px;
}
.title-campus .icon_sec img,
.title-program .icon_sec img,
.title-parent .icon_sec img{
	margin-top:-1rem;
	margin-left:0px;
}
.title-enrichment .icon_sec img{
	margin-top:-1rem;
	margin-left:35px;
}
.title-about{
    background: url(../images/icon_about.png) no-repeat;
	background-position: center right;
	background-size: 100px;
}
.title-program{
    background: url(../images/icon_program.png) no-repeat;
	background-position: center right;
	background-size: 100px;
}
.title-campus{
    background: url(../images/icon_campus.png) no-repeat;
    background-position: center right;
	background-size: 100px;
}
.title-enrichment{
    background: url(../images/icon_enrichment.png) no-repeat;
	background-position: center right;
	background-size: 100px;
}
.title-parent{
    background: url(../images/icon_parent.png) no-repeat;
	background-position: center right;  
	background-size: 100px;  
}
.title-contact{
    background: url(../images/icon_contact.png) no-repeat;
	background-position: center right;
	background-size: 100px;
}
.box-about {
	padding:6px;
    padding-left:2.5rem;
    background:#bb7fbb;
    color:#fff;
    width:22rem;
    padding-left:2.5rem;
    margin-bottom: 4.5rem;
    border-radius:5px;
}
.box-contact h2{
	background: #b91d05;
    color: #fff;
    margin-bottom: 4.5rem;
    border-radius: .5rem;
    max-width: 40rem;
    text-align: center;
}
.home-history{
	color:#000;
	margin: 1rem 0;
}
.home-contact{
	color:#000;
	font-weight:400;
}
a.learn-more {
	font-family: "Fredericka the Great";
	font-size:2rem;
    padding: .3rem 1.5rem .5rem;
    color:#fff;
	text-align: center;
	border-radius:.4rem;
	margin-bottom: 2rem;
}
.about{
	background:#bb7fbb;
}
.campus {
    background:#40880b;
}
.program{
	background: #f39c12;
}
.enrichment{
	background:#c1c55e;
}
.parent{
	background:#0ab2f4;
}
.contact{
	background:#f95f00;
}
.about:hover,
.about:visited:hover,
.campus:hover,
.campus:visited:hover,
.program:hover,
.program:visited:hover,
.enrichment:hover,
.enrichment:visited:hover,
.parent:hover,
.parent:visited:hover
 {
	background:#53b3fd;
    transition: all ease .5s;
}
.offer{
	font-family: "Fredericka the Great";
    color:#182191;
}
.box-program {
	padding:6px;
    padding-left:2.5rem;
    background:#f39c12;
    color:#ffffff;
    width:22rem;
    padding-left:2.5rem;
    margin-bottom: 2.5rem;
}
.about-content{
	background-color:#fff;
	opacity:.8;
	margin:0 auto;	
}
.section-content{
    background-color: #fff;
    opacity: .95;
    margin: 3rem auto 0;
    padding: 6.5rem 8%;
    border-radius:1rem 1rem 0 0;
}
.home-img {
	background-position: 0 0;
	margin: auto;
	padding-left:0;
	padding-right:0;
	padding-bottom: 6rem;
	border-radius:0 0 1rem 1rem;
	background-color: #fff;	
}
.home-img-about {
	background-position: 0 0;
	margin-right:auto;
	margin-left:auto;
	padding-left:0;
	padding-right:0;
	padding-bottom: 6rem;
	border-radius:0 0 1rem 1rem;
	background-color: #ce8bd0;	
}
.home-img-campus {
	background-position: 0 0;
	margin-right:auto;
	margin-left:auto;
	padding-left:0;
	padding-right:0;
	padding-bottom: 6rem;
	border-radius:0 0 1rem 1rem;
	background-color:#458a11;	
}
.home-img-program {
	background-position: 0 0;
	margin-right:auto;
	margin-left:auto;
	padding-left:0;
	padding-right:0;
	padding-bottom: 6rem;
	border-radius:0 0 1rem 1rem;
	background-color:#d86401;	
}
.home-img-program {
	background-position: 0 0;
	margin-right:auto;
	margin-left:auto;
	padding-left:0;
	padding-right:0;
	padding-bottom: 6rem;
	border-radius:0 0 1rem 1rem;
	background-color:#f3882d;	
}
.home-img-enrich {
	background-position: 0 0;
	margin-right:auto;
	margin-left:auto;
	padding-left:0;
	padding-right:0;
	padding-bottom: 6rem;
	border-radius:0 0 1rem 1rem;
	background-color:#b0bd56;	
}
.home-img-parent {
	background-position: 0 0;
	margin-right:auto;
	margin-left:auto;
	padding-left:0;
	padding-right:0;
	padding-bottom: 6rem;
	border-radius:0 0 1rem 1rem;
	background-color:#42bbea;	
}
.home-img-contact {
	background-position: 0 0;
	margin-right:auto;
	margin-left:auto;
	padding-left:0;
	padding-right:0;
	padding-bottom: 6rem;
	border-radius:0 0 1rem 1rem;
	background-color: #b91d05;	
}
.subpage_title h1 {
	margin-top: 1.3rem;
	margin-left: 3.2rem;
}
.section-header h1,
.section-header h1,
.section-header h1,
.section-header h1
 {
	font-size: 5.5rem;
	padding-top: 4rem;
}
.section-header.title-enrichment h1,
.section-header.title-parent h1
 {
	font-size: 5.5rem;
	padding-top: 1rem;
}

/******* RESPONSIVE ********/
@media screen and (max-width: 640px) {
.section-header h1{
	font-size: 4.8rem;
	line-height: 4.8rem;
}
.section-header.title-enrichment,
.section-header.title-parent
{
	height:15rem;
}
.title-about,
.title-program,
.title-campus,
.title-enrichment,
.title-parent,
.title-contact{
	background-size: 90px;
}
}
@media screen and (max-width: 480px) {
	p{
		font-size: 1.5rem;
		margin: 0 0 4rem 0;
	}
	.section-content{
		padding: 1rem 1.5rem;
	}
	.section-header h1,
	.section-header.title-enrichment h1,
	.section-header.title-parent h1
	{
		font-size: 3.3rem;
		line-height: 3.7rem;
		padding-top: 3.5rem;
	}
	.section-header h1{
		padding-top: 5.6rem;
	}
	.box-contact h2 {
		font-size: 2rem;
	}
	.home-history {
		font-size: 2rem;
	}
}

